@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.header-section {
  background-color: #0F172A;
}
.header-section .container-fluid {
  padding: 32px 107px;
}
.header-section .container-fluid .navbar-expand-lg .container-fluid {
  padding: 32px;
  background-color: #192030;
  border-radius: 26.67px;
  width: 1333.33px;
  height: 128px;
}
.header-section .container-fluid .navbar-expand-lg .container-fluid .logo-menu {
  display: flex;
  gap: 51px;
}
.header-section .container-fluid .navbar-expand-lg .container-fluid .logo-menu .logo a {
  font-size: 42.67px;
  font-weight: bold;
  color: #FFFFFF;
}
.header-section .container-fluid .navbar-expand-lg .container-fluid .logo-menu .menu {
  padding: 5px 0px;
}
.header-section .container-fluid .navbar-expand-lg .container-fluid .logo-menu .menu .navbar-collapse .mb-lg-0 {
  display: flex;
  gap: 21px;
}
.header-section .container-fluid .navbar-expand-lg .container-fluid .logo-menu .menu .navbar-collapse .mb-lg-0 .nav-item a {
  color: #FFFFFF;
  font-size: 21.33px;
  font-weight: 500;
  padding: 16px 10px;
}
.header-section .container-fluid .navbar-expand-lg .container-fluid .btn .d-flex {
  gap: 16px;
}
.header-section .container-fluid .navbar-expand-lg .container-fluid .btn .d-flex .mb-lg-0 .nav-item {
  padding: 5px 0px;
}
.header-section .container-fluid .navbar-expand-lg .container-fluid .btn .d-flex .mb-lg-0 .nav-item a {
  color: #FFFFFF;
  font-size: 21.33px;
  padding: 16px 10px;
  font-weight: 500;
}
.header-section .container-fluid .navbar-expand-lg .container-fluid .btn .d-flex button {
  background-color: #9333EA;
  color: #FFFFFF;
  border-radius: 8px;
  height: 64px;
  width: 169.67px;
  font-size: 21.33px;
  padding: 16px 10px;
  font-weight: 500;
}
.header-section .container-fluid .navbar-expand-lg .container-fluid .btn .d-flex button:hover {
  background-color: #FFFFFF;
  color: #9333EA;
}

.hero-section {
  background-color: #0F172A;
}
.hero-section .container-fluid {
  padding: 107px;
  display: flex;
  flex-direction: column;
  gap: 107px;
}
.hero-section .container-fluid .hero-text {
  text-align: center;
}
.hero-section .container-fluid .hero-text .heading {
  margin-bottom: 42.67px;
}
.hero-section .container-fluid .hero-text .heading h1 {
  font-size: 96px;
  font-weight: bolder;
  color: #FFFFFF;
}
.hero-section .container-fluid .hero-text .heading h1 .bb {
  border-bottom: 5px solid #C084FC;
}
.hero-section .container-fluid .hero-text .heading h1 .bt {
  border-top: 8px solid #C084FC;
  display: inline-block;
  line-height: 50px;
}
.hero-section .container-fluid .hero-text .heading h1 .text {
  color: #9333EA;
}
.hero-section .container-fluid .hero-text .text {
  margin-bottom: 42.67px;
}
.hero-section .container-fluid .hero-text .text p {
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 32px;
}
.hero-section .container-fluid .hero-text .btn {
  display: flex;
  gap: 21.33px;
  justify-content: center;
}
.hero-section .container-fluid .hero-text .btn .btn-color {
  background-color: #9333EA;
  color: #FFFFFF;
  border-radius: 8px;
  width: 224px;
  height: 74.67px;
  font-size: 32px;
  font-weight: 500;
  border: 1px solid #9333EA;
}
.hero-section .container-fluid .hero-text .btn .btn-color:hover {
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #9333EA;
}
.hero-section .container-fluid .hero-text .btn .btn-trans {
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  width: 224px;
  height: 74.67px;
  font-size: 32px;
  font-weight: 500;
}
.hero-section .container-fluid .hero-text .btn .btn-trans:hover {
  background-color: #FFFFFF;
  color: #9333EA;
  border: 1px solid #9333EA;
}
.hero-section .container-fluid .hero-img {
  display: flex;
  justify-content: center;
}
.hero-section .container-fluid .hero-img img {
  width: 1466.67px;
  height: 881.33px;
}

.logo-section {
  background-color: #0F172A;
}
.logo-section .container-fluid {
  padding: 80px 107px 107px;
  display: flex;
  flex-direction: column;
  gap: 107px;
}
.logo-section .container-fluid .heading {
  text-align: center;
}
.logo-section .container-fluid .heading h2 {
  font-size: 74.67px;
  font-weight: bolder;
  color: #FFFFFF;
}
.logo-section .container-fluid .icons {
  display: flex;
  gap: 80px;
  justify-content: space-evenly;
}
.logo-section .container-fluid .icons .logo {
  display: flex;
  gap: 8px;
  cursor: pointer;
}
.logo-section .container-fluid .icons .logo h6 {
  font-size: 32px;
  font-weight: bold;
  color: #FFFFFF;
  padding-top: 5px;
  transition: all 0.7s ease-in-out;
}
.logo-section .container-fluid .icons .logo h6:hover {
  transform: scale(1.1);
}

.discovery-section,
.customer-section {
  background-color: #0F172A;
}
.discovery-section .container-fluid,
.customer-section .container-fluid {
  padding: 107px;
  display: flex;
  gap: 107px;
}
.discovery-section .container-fluid .content,
.customer-section .container-fluid .content {
  display: flex;
  flex-direction: column;
  gap: 42.67px;
  width: 1066.67px;
}
.discovery-section .container-fluid .content h6,
.customer-section .container-fluid .content h6 {
  font-size: 26.67px;
  font-weight: bold;
  color: #FFFFFF;
}
.discovery-section .container-fluid .content h1,
.customer-section .container-fluid .content h1 {
  font-size: 96px;
  font-weight: bolder;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
}
.discovery-section .container-fluid .content h1 span,
.customer-section .container-fluid .content h1 span {
  border-top: 10px solid #C2410C;
  border-left: 10px solid #C2410C;
  border-bottom: 10px solid #C2410C;
}
.discovery-section .container-fluid .content h1 .inner,
.customer-section .container-fluid .content h1 .inner {
  border: 5px solid #C2410C;
  position: relative;
  z-index: -1;
  right: 10px;
}
.discovery-section .container-fluid .content p,
.customer-section .container-fluid .content p {
  font-size: 24px;
  color: #FFFFFF;
}
.discovery-section .container-fluid .content .learn-more,
.customer-section .container-fluid .content .learn-more {
  display: flex;
  gap: 16px;
}
.discovery-section .container-fluid .content .learn-more a,
.customer-section .container-fluid .content .learn-more a {
  font-size: 26.67px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
}
.discovery-section .container-fluid .content .learn-more a span,
.customer-section .container-fluid .content .learn-more a span {
  font-size: 26.67px;
  margin-left: 20px;
}
.discovery-section .container-fluid .img,
.customer-section .container-fluid .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.powerful-section,
.speed-section {
  background-color: #0F172A;
}
.powerful-section .container-fluid,
.speed-section .container-fluid {
  padding: 107px;
  display: flex;
  gap: 60px;
}
.powerful-section .container-fluid .content,
.speed-section .container-fluid .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.powerful-section .container-fluid .content h6,
.speed-section .container-fluid .content h6 {
  font-size: 26.67px;
  font-weight: bold;
  color: #FFFFFF;
  padding-bottom: 21.33px;
}
.powerful-section .container-fluid .content h2,
.speed-section .container-fluid .content h2 {
  font-size: 74.67px;
  font-weight: bolder;
  color: #FFFFFF;
  padding-bottom: 42.67px;
}
.powerful-section .container-fluid .content p,
.speed-section .container-fluid .content p {
  font-size: 24px;
  color: #FFFFFF;
}

.customer-section h1 span {
  background-color: #BE185D;
  border: none !important;
}

.testimonial-section {
  background-color: #581C87;
}
.testimonial-section .container-fluid {
  padding: 107px;
  display: flex;
  gap: 107px;
  justify-content: space-between;
}
.testimonial-section .container-fluid .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}
.testimonial-section .container-fluid .left h6 {
  font-size: 26.67px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 12px 0px;
}
.testimonial-section .container-fluid .left h2 {
  font-size: 74.67px;
  font-weight: bolder;
  color: #FFFFFF;
}
.testimonial-section .container-fluid .left h2 span {
  border-bottom: 5px solid #C084FC;
  display: inline-block;
  line-height: 70px;
}
.testimonial-section .container-fluid .left .learn-more {
  display: flex;
  gap: 16px;
  padding: 12px 0px;
}
.testimonial-section .container-fluid .left .learn-more a {
  font-size: 21.33px;
  font-weight: 500;
  padding-top: 10px;
  color: #FFFFFF;
  text-decoration: none;
}
.testimonial-section .container-fluid .left .learn-more a span {
  font-size: 21.33px;
  margin-left: 20px;
}
.testimonial-section .container-fluid .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 30%;
}
.testimonial-section .container-fluid .right .text p {
  font-size: 24px;
  color: #FFFFFF;
}
.testimonial-section .container-fluid .right .review {
  display: flex;
  gap: 21.33px;
}
.testimonial-section .container-fluid .right .review .pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonial-section .container-fluid .right .review .pic img {
  transition: all 0.7s linear;
}
.testimonial-section .container-fluid .right .review .pic img:hover {
  transform: scale(1.3);
}
.testimonial-section .container-fluid .right .review .name {
  padding-top: 10px;
}
.testimonial-section .container-fluid .right .review .name h6 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
}
.testimonial-section .container-fluid .right .review .name p {
  color: #FFFFFF;
  font-size: 21.33px;
  font-weight: 400;
}

.cards-section .container-fluid {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.cards-section .container-fluid .head {
  display: flex;
  justify-content: space-between;
}
.cards-section .container-fluid .head h2 {
  font-size: 74.67px;
  font-weight: bolder;
}
.cards-section .container-fluid .head .learn-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cards-section .container-fluid .head .learn-more ul {
  list-style: none;
}
.cards-section .container-fluid .head .learn-more ul li a {
  text-decoration: none;
  color: #9333EA;
  font-size: 21.33px;
  font-weight: 500;
}
.cards-section .container-fluid .head .learn-more ul li a span {
  margin-left: 20px;
  font-size: 30px;
}
.cards-section .container-fluid .content {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  padding-bottom: 45px;
}
.cards-section .container-fluid .content .card {
  border: none;
  height: 498px;
  width: 547.56px;
}
.cards-section .container-fluid .content .card .img .dt {
  z-index: 1;
  position: relative;
  top: 65px;
  left: 13px;
  font-size: 18.67px;
  color: #6B21A8;
  background-color: #F3E8FF;
  border-radius: 4px;
  width: 143.67px;
  display: flex;
  justify-content: center;
}
.cards-section .container-fluid .content .card .img .fest {
  z-index: 1;
  position: relative;
  top: 65px;
  left: 13px;
  font-size: 18.67px;
  color: #6B21A8;
  background-color: #F3E8FF;
  border-radius: 4px;
  width: 85px;
  display: flex;
  justify-content: center;
}
.cards-section .container-fluid .content .card .img .bcmp {
  z-index: 1;
  position: relative;
  top: 65px;
  left: 13px;
  font-size: 18.67px;
  color: #6B21A8;
  background-color: #F3E8FF;
  border-radius: 4px;
  width: 107px;
  display: flex;
  justify-content: center;
}
.cards-section .container-fluid .content .card .texts .t {
  padding: 24px 0px 16px;
}
.cards-section .container-fluid .content .card .texts .t h6 {
  font-size: 21.33px;
  font-weight: 500;
}
.cards-section .container-fluid .content .card .texts .t h3 {
  font-size: 53.33px;
  font-weight: bold;
}
.cards-section .container-fluid .content .card .texts .learn-more {
  list-style: none;
}
.cards-section .container-fluid .content .card .texts .learn-more a {
  text-decoration: none;
  color: #9333EA;
  font-size: 21.33px;
  font-weight: 500;
}
.cards-section .container-fluid .content .card .texts .learn-more a span {
  margin-left: 30px;
  font-size: 30px;
}

.footer-section .container-fluid {
  padding: 0px 106.67px;
}
.footer-section .container-fluid .upper {
  display: flex;
  justify-content: space-between;
  padding: 64px 0px;
  border-bottom: 1px solid #E2E8F0;
  gap: 64px;
}
.footer-section .container-fluid .upper .logo a {
  font-size: 42.67px;
  font-weight: 700;
  cursor: pointer;
}
.footer-section .container-fluid .upper .text .head h6 {
  font-size: 21.33px;
  font-weight: 500;
  color: #94A3B8;
  line-height: 17.6px;
  padding: 12PX 0PX;
}
.footer-section .container-fluid .upper .text .menu ul {
  list-style: none;
  text-align: justify;
  padding: 0;
}
.footer-section .container-fluid .upper .text .menu ul li {
  padding: 12px 0px;
}
.footer-section .container-fluid .upper .text .menu ul li a {
  text-decoration: none;
  font-size: 21.33px;
  font-weight: 400;
  color: #0F172A;
}
.footer-section .container-fluid .lower {
  display: flex;
  justify-content: space-between;
  padding: 64px 0px;
}
.footer-section .container-fluid .lower .left p {
  font-size: 21.33px;
}
.footer-section .container-fluid .lower .socials {
  display: flex;
  gap: 16px;
}
.footer-section .container-fluid .lower .socials i {
  font-size: 21.33px;
  letter-spacing: 10px;
  cursor: pointer;
  transition: all 0.4s linear;
}
.footer-section .container-fluid .lower .socials i:hover {
  transform: scale(1.5);
  color: #9333EA;
}/*# sourceMappingURL=style.css.map */